<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" class="no-js" lang="en">
    <head>
        @@include('../modules/head/_all.html',{
            "title":"College/School Page Template",
            "description":"This is an example of v1.0 of the college/school home page template.",
            "author":"Place your office here."
        })
    </head>
    <body>
        @@include('../modules/header/_all.html',{
            "siteName":"Organization Name Here",
            "siteTagline":"Site Tagline Here"
        })
        @@include('../modules/navigation/_main.html')
        @@include('../modules/content-college/_all.html',{
            "example":3.2
        })
        @@include('../modules/footer/_all.html')
    </body>
</html>