<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" class="no-js" lang="en">
    <head>
        @@include('../modules/head/_all.html',{
            "title":"Department/Office Home Page Template",
            "description":"This is an example of v1.5 of the department/office home page template.",
            "author":"Place your office here."
        })
    </head>
    <body>
        @@include('../modules/header/_all.html',{
            "siteName":"Organization Name Here",
            "siteTagline":"Site Tagline Here"
        })
        @@include('../modules/navigation/_main.html')
        @@include('../modules/content-deptOffice/_all.html',{
            "type":"tabs"
        })
        @@include('../modules/footer/_all.html')
    </body>
</html>